<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Saved Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-row *ngIf="!showPageLoader">
      <ion-col *ngFor="let article of articles; let i = index" size="12" size-sm="6" size-md="4" size-lg="4">
        <ion-card>
          <ion-img *ngIf="article?.urlToImage" [src]="article.urlToImage"></ion-img>
          <ion-card-header>
            <ion-card-title>
              {{article.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="secondary" fill="outline" (click)="onRemove(i)">
                  <ion-icon name="trash"></ion-icon>
                  Remove
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="secondary" (click)="onNewsDetailPage(article)">
                  <ion-icon name="eye-outline"></ion-icon>
                  View
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="!articles.length">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              No saved articles found!
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-spinner *ngIf="showPageLoader" name="lines" class="page-loader"></ion-spinner>
  </ion-grid>
</ion-content>
